@page
@model Merit.Web.Pages.AddMeritBusinessModel
@{
}

<h3>Lägg till en merit</h3>
<hr />

<form method="post">
    <div class="row">
        <div class="col-12">
            @if (Model.Visi)
            {
                <div class="alert alert-@Model.alertlook">
                    @Model.Information
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="justify-content-between mb-2">
                <label>Kategori:</label>
                <input class="form-control" type="text" name="ACompanyMerit.Category" placeholder="Kategori" autofocus/>
            </div>
            <div class="justify-content-between mb-2">
                <label>Underkategori:</label>
                <input class="form-control" type="text" name="ACompanyMerit.SubCategory" placeholder="Underkategori" />
            </div>
            <div class="justify-content-between mb-2">
                <label>Beskrivning:</label>
                <textarea style="resize: none" class="form-control" type="text" name="ACompanyMerit.Description" placeholder="Beskrivning" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
    <p></p>
    <div class="justify-content-between mb-2">
        <button class="btn btn-primary" type="submit">Lägg till merit</button>
        <a class="btn btn-primary" asp-page="/companyinfopage">Företagsinfo</a>

    </div>
</form>
