@page
@model Merit.Web.Pages.AddMeritBusinessModel
@{
}

@if (!Model.SavedBusinessMerit)
{
    <h3>Skapa merit (Företag)</h3>

    <form method="post">
        <div>
            <table>
                <tr>
                    <td><label>Kategori: </label></td>
                    <td><input type="text" asp-for="BusinessMerit.Category" placeholder="Kategori" /></td>
                </tr>
                <tr>
                    <td><label>Underkategori: </label></td>
                    <td><input type="text" asp-for="BusinessMerit.SubCategory" placeholder="Underkategori" /></td>
                </tr>
                <tr>
                    <td><label>Beskrivning: </label></td>
                    <td><input type="text" asp-for="BusinessMerit.Description" placeholder="Beskrivning" /></td>
                </tr>
                <tr>
                    <td>
                    <td><button type="submit">Skapa Merit</button></td></td>
                </tr>

            </table>

        </div>
    </form>
}
@if (Model.SavedBusinessMerit)
{
    <h4>Merit skapad!</h4>
    <table>
        <tr>
            <td>
                <form action="/AddMeritBusiness">
                    <input type="submit" value="Skapa ny merit (företag)" />
                </form>
            </td>
            <td>
                <form action="/Index">
                    <input type="submit" value="Till startsidan" />
                </form>
            </td>
        </tr>
    </table>
}