@page
@model Merit.Web.Pages.AddMeritModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager 
@{
}

<h3>Lägg till en merit</h3>
<hr />

<p>@User.Identity.Name</p>

<form method="post">
    <div class="row">
        <div class="col-lg-5">
            <div class="justify-content-between mb-2">
                <label>Kategori:</label>
                <input class="form-control" type="text" asp-for="AMerit.Category" placeholder="Kategori" />
            </div>
            <div class="justify-content-between mb-2">
                <label>Underkategori:</label>
                <input class="form-control" type="text" asp-for="AMerit.SubCategory" placeholder="Underkategori" />
            </div>
            <div class="justify-content-between mb-2">
                <label>Beskrivning:</label>
                <textarea style="resize: none" class="form-control" type="text" asp-for="AMerit.Description" placeholder="Beskrivning" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="justify-content-between mb-2">
                <label>Varaktighet:</label>
                <input class="form-control" type="text" asp-for="AMerit.Duration" placeholder="Varaktighet" />
                <button type="submit" class="btn btn-primary">Lägg till merit</button>
            </div>
        </div>
    </div>

</form>
<div>
    @if (Model.Visi)
    {
        <br />
        <br />
        <div class="alert alert-@Model.alertlook">
            @Model.Message
        </div>
    }
</div>





