@page
@model Merit.Web.Pages.AddWantModel
@{
}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">MERIT</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/images/merit2.png" alt="" /></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/PersonalinfoPage">Profilsida</a></li>
           
            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/LogOut">Logga ut</a></li>
        </ul>
    </div>
</nav>
<h3>Lägg till Want</h3>
<hr />
<div class="justify-content-between mb-2 col-6">En want är ett nyckelord för något önskemål du har för ditt framtida arbete eller arbetsgivare. Detta skulle kunna vara ex. "pingisbord", "5 veckor semester", "utvecklingspotential", "pubquiz", "interna utbildningar" osv.</div>
<p></p>
<form method="post">
    <div class="row">
        <div class="col-lg-5">
            <div class="justify-content-between mb-2">
                <label>Nyckelord för Want:</label>
                <input class="form-control" type="text" asp-for="PersonalWant.Want" placeholder="Want" autofocus/>
            </div>
           
        </div>
    </div>
    <p></p>
    <div class="justify-content-between mb-2">
        <button class="btn btn-primary" type="submit">Lägg till Want</button>
        <a class="btn btn-primary" asp-page="/personalinfopage">Profilinfo</a>
        @if (Model.WantSaved)
        {
            <meta http-equiv="refresh" content="1">
            <div style="color: limegreen">
                <b>Want skapad!</b>
            </div>
        }
    </div>
</form>