@page
@model Merit.Web.Pages.AddWantCompanyModel
@{
}

<h3>Lägg till Want</h3>
<hr />
<div class="justify-content-between mb-2 col-12">En want är ett nyckelord för något önskemål ni har om er framtida anställda. Ex "C#", "Föreläsare", "Talar finska" osv.</div>
<p></p>
<form method="post">
    <div class="row">
        <div class="col-12">
            @if (Model.Visi)
            {
                <div class="alert alert-@Model.alertlook">
                    @Model.Message
                </div>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="justify-content-between mb-2">
                <label>Nyckelord för Want:</label>
                <input class="form-control" autofocus type="text" name="CompanyWant.Want" placeholder="Want" />
            </div>

        </div>
    </div>
    <p></p>
    <div class="justify-content-between mb-2">
        <button class="btn btn-primary" type="submit">Lägg till Want</button>
        <a class="btn btn-primary" asp-page="/companyinfopage">Företagsinfo</a>

    </div>
</form>