@page
@model Merit.Web.Pages.CompanyModel
@{
}

<form method="post">
    <div>
        <label for="companyname">Företagsnamn</label>
        <input asp-for="ACompany.CompanyName" type="text" placeholder="Företagsnamn" />
    </div>
    <div>
        <label for="orgnumber">Organisationsnr.</label>
        <input asp-for="ACompany.OrgNumber" type="text" placeholder="xxxxxx-xxxx" />
    </div>
    <div>
        <label for="contactperson">Kontaktperson</label>
        <input asp-for="ACompany.ContactName" type="text" name="contactperson" value="" placeholder="Kontaktperson"/>
    </div>
    <div>
        <label for="phone">Telefon</label>
        <input asp-for="ACompany.Phone" type="text" value="" placeholder="Telefon"/>
    </div>
    <div>
        <label for="street">Gatuadress</label>
        <input asp-for="ACompany.Street" type="text" value="" placeholder="Gatuadress"/>
    </div>
    <div>
        <label for="zipcode">Postnr</label>
        <input asp-for="ACompany.ZipCode" type="text" value="" placeholder="Postnr" />
    </div>
    <div>
        <label for="city">Ort</label>
        <input asp-for="ACompany.City" type="text" value="" placeholder="Ort"/>
    </div>
    <input type="submit" name="save" value="Spara" />

</form>



