@page
@model Merit.Web.Pages.CompanySearchPageModel
@{
}

<h3>Find employee</h3>
<hr />
<form method="post">
    <div>
        <div class="justify-content-between mb-2">
            Find your candidate by entering search conditions.
        </div>
        <div class="justify-content-between mb-2">
            Enter required merits: <input type="text" asp-for="SearchMerit" />
        </div>
        <div class="justify-content-between mb-2">
            Enter required skills: <input type="text" asp-for="SearchSkills" />
        </div>
        <div class="justify-content-between mb-2">
            Enter required education: <input type="text" asp-for="SearchEducation" />
        </div>
    </div>
    <div class="justify-content-between mb-2">
        <button type="submit">Search</button>
    </div>
    <ol>
        @foreach (var x in Model.People)
	{
		 <li>
             @x.FirstName
         </li>
	}


    </ol>
</form>