@page
@model Merit.Web.Pages.EditCompanyUserModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<form method="post">
    <div class="row">
        <div class="col-12">
            @if (Model.Visi)
            {
                <br />
                <div class="alert alert-@Model.TypeMessage">@Model.EditMessage</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="justify-content-between mb-2">
                <div>
                    <label for="password">Nuvarande lösenord:</label>
                </div>
                <div>
                    <input class="form-control" type="password" id="CurrentPassword" name="CurrentPassword" placeholder="Nuvarande lösenord" />
                </div>
                <br />
                <div>
                    <label for="password">Nytt lösenord:</label>
                </div>
                <div>
                    <input class="form-control" type="password" id="PasswordCheck1" name="PasswordCheck1" placeholder="Nytt lösenord" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                    <small id="emailHelp" class="form-text text-muted">Lösenordet måste innehålla en siffra, stor bokstav, liten bokstav och vara minst 8 tecken långt.</small>
                </div>
            </div>
            <div class="justify-content-between mb-2">
                <div>
                    <label for="passwordcheck">Upprepa lösenord:</label>
                </div>
                <div>
                    <input class="form-control" type="password" id="PasswordCheck2" name="PasswordCheck2" placeholder="Upprepa lösenord" minlength="8" />
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Spara Ändringar</button>
    <a class="btn btn-primary " asp-page="/companyinfopage">Företagsinfo</a>

</form>
