@page
@model Merit.Web.Pages.EditCompanyInfoModel
@{
}

<h3>Uppdatera företagsinformation</h3>
<div class="row">
    <div class="col-12">
        @if (Model.Visi)
        {
            <br />
            
            <div class="alert alert-success">
                @Model.Message
            </div>
        }
    </div>

</div>
<hr />

<div class="row">
    
    <div class="col-4">
        <form method="post">
            <input type="hidden" asp-for="ACompany.CompanyInfoId" />

            <div class="justify-content-between mb-2">
                <label for="companyname">Företagsnamn:</label>
                <input class="form-control" asp-for="ACompany.CompanyName" type="text" />
            </div>
            <div class="justify-content-between mb-2">
                <label for="orgnumber">Organisationsnummer:</label>
                <input class="form-control" asp-for="ACompany.OrgNumber" type="text" />
            </div>

            <div class="justify-content-between mb-2">
                <label for="Contactname">Kontaktperson:</label>
                <input class="form-control" asp-for="ACompany.ContactName" type="text" />
            </div>
            <div class="justify-content-between mb-2">
                <label for="phone">Telefon:</label>
                <input class="form-control" asp-for="ACompany.Phone" type="text" />
            </div>
            <div class="justify-content-between mb-2">
                <label for="Street">Gatuadress:</label>
                <input class="form-control" asp-for="ACompany.Street" type="text" />
            </div>
            <div class="justify-content-between mb-2">
                <label for="zipcode">Postnummer:</label>
                <input class="form-control" asp-for="ACompany.ZipCode" type="text" />
            </div>
            <div class="justify-content-between mb-2">
                <label for="city">Stad:</label>
                <input class="form-control" asp-for="ACompany.City" type="text" />
            </div>

            <p></p>

            <div class="justify-content-between mb-2">
                <button class="btn btn-primary" type="submit">Spara</button>
           
                <a href="/CompanyInfoPage" class="btn btn-primary">Företagsinfo</a>
            </div>


        </form>
    </div>

    <div class="col-4" style="vertical-align:bottom">
        <form method="post" asp-page-handler="Delete">
            <span> Jag vill ta bort mitt konto.</span>
            <span style="display:none" id="a">
                <a style="display:block;width:200px" href="#" onclick="ConfirmX(false)" class="btn btn-primary">Ångra</a>
                <button style="display:block;width:200px" class="btn btn-danger" type="submit">Ta bort</button>
            </span>
            <span id="b">
                <a href="#" style="display:block;width:200px" onclick="ConfirmX(true)" class="btn btn-danger">Ta bort kontot</a>
            </span>



        </form>
    </div>
</div>



