@page
@model Merit.Web.Pages.EditPersonalInfoModel
@{
}
<form method="post">
    <div>
        <div>
            Förnamn: <input type="text" asp-for="FirstName" />
        </div>
        <div>
            Efternamn: <input type="text" asp-for="LastName" />
        </div>
        <div>
            Email: <input type="text" asp-for="Email" />
        </div>
        <div>
            Telefon: <input type="text" asp-for="Phone" />
        </div>
        <div>
            Gata: <input type="text" asp-for="Street" />
        </div>
        <div>
            Postnummer: <input type="text" asp-for="Zipcode" />
        </div>
        <div>
            Stad: <input type="text" asp-for="City" />
        </div>
        <div>
            <button type="submit">Spara</button>
        </div>
    </div>
</form>