@page
@model Merit.Web.Pages.EditCompanyWantsModel
@{
}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">MERIT</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/images/merit2.png" alt="" /></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/CompanyInfoPage">Företagssida</a></li>

            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/LogOut">Logga ut</a></li>

        </ul>
    </div>
</nav>
<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Wants</h4>
                        </div>
                        <p></p>
                        <p class="card-text">
                            @foreach (var want in Model.CompanyWantsList)
                            {

                                <div>
                                    Want: @want.Want
                                </div>
                                <div><a href="?SelectedCompanyWantId=@want.CompanyWantsId">Välj att redigera</a></div>
                                <hr />
                            }
                        </p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>


            <div class="col-lg-3" row="10">
                <p><h4 c>Redigera</h4></p>
                <input type="hidden" value="@Model.SelectedCompanyWantId" asp-for="CWant.CompanyWantsId" />
                <div><input type="text" value="@Model.WantText" asp-for="CWant.Want" /></div>

                <span class="justify-content-between mb-2">

                    <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="Edit">Ändra</button>
                    <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="Delete">Delete</button>
                </span>
            </div>
        </div>
    </div>
</form>