@page
@model Merit.Web.Pages.EditCompanyUserModel
@{
}

<form method="post">
    <div class="row">
        <div class="col-lg-4">
            <div class="justify-content-between mb-2">
                <div>
                    <label for="email">Epost:</label>
                </div>
                <div>
                    <input type="hidden" value="@Model.ACompanyUser.CompanyUserId" asp-for="ACompanyUser.CompanyUserId" />
                    <input type="text" value="@Model.ACompanyUser.Email" id="Email" name="Email" />
                </div>
            </div>
            <div class="justify-content-between mb-2">
                <div>
                    <label for="password">Lösenord:</label>
                </div>
                <div>
                    <input class="form-control" type="password" id="PasswordCheck1" name="PasswordCheck1" placeholder="Lösenord" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                    <small id="emailHelp" class="form-text text-muted">Lösenordet måste innehålla en siffra, stor bokstav, liten bokstav och vara minst 8 tecken långt.</small>
                </div>
            </div>
            <div class="justify-content-between mb-2">
                <div>
                    <label for="passwordcheck">Upprepa lösenordet:</label>
                </div>
                <div>
                    <input class="form-control" type="password" id="PasswordCheck2" name="PasswordCheck2" placeholder="Upprepa lösenordet" minlength="8" />
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Spara Ändringar</button>
    @if (Model.Visi)
    {
        <br />
        <div class="alert alert-@Model.TypeMessage">@Model.EditMessage</div>
    }
</form>
