@page
@model Merit.Web.Pages.EditPersonalInfoModel
@{
}
<h3>Uppdatera profilinformation</h3>
<hr />
<form method="post">

    <div>
        <div>
            Förnamn: <input type="text" asp-for="FirstName" />
        </div>
        <div>
            Efternamn: <input type="text" asp-for="LastName" />
        </div>
        <div class="justify-content-between mb-2">
            E-mail: <input type="text" asp-for="Email" placeholder="E-mail" />
        </div>
        <div>
            Telefon: <input type="text" asp-for="Phone" />
        </div>
        <div>
            Gata: <input type="text" asp-for="Street" />
        </div>
        <div>
            Postnummer: <input type="text" asp-for="Zipcode" />
        </div>
        <div>
            Stad: <input type="text" asp-for="City" />
        </div>
        <div>
            <button type="submit">Spara</button>
        </div>
    </div>
</form>