@page
@model Merit.Web.Pages.EditPersonalInfoModel
@{
}
<form method="post">
    <div>
        <div>
            Firstname: <input type="text" asp-for="FirstName" />
        </div>
        <div>
            Lastname: <input type="text" asp-for="LastName" />
        </div>
        <div>
            Email: <input type="text" asp-for="Email" />
        </div>
        <div>
            Phone#: <input type="text" asp-for="Phone" />
        </div>
        <div>
            Street: <input type="text" asp-for="Street" />
        </div>
        <div>
            Zipcode: <input type="text" asp-for="Zipcode" />
        </div>
        <div>
            City: <input type="text" asp-for="City" />
        </div>
        <div>
            <button type="submit">Save Info</button>
        </div>


    </div>
</form>