@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="home">
        <div class="resume-section-content">
            <h1 class="mb-0">
                <img src="~/images/merit.png">
                <span class="text-primary"></span>
            </h1>
            <div class="subheading mb-5">
                <p></p>
                <p>   mjuka kunskaper i en hård värld</p>
            </div>
            <p class="lead mb-5"></p>
        </div>
    </section>
</div>