@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="home">
        <div class="resume-section-content">
            <h1 class="mb-0">
                <img src="~/images/merit.png">
                <span class="text-primary"></span>
            </h1>
            <div class="subheading mb-5">
                <p></p>
                <p>   mjuka kunskaper i en hård värld</p>
            </div>
            
            <div class="mb-5 p-xl-2 col-9">
                Merit hjälper privatpersoner och företag att matcha varandra. <br/>
           
                Oavsett om det du eftersöker (wants) är pingisbord, nära till jobbet, en träningslokal, fredagsfika eller trevliga kollegor kan vi hjälpa dig att hitta företaget du söker.<br />
            
                Som företagare kan du söka efter nya anställda via kunskaper och livserfarenheter (meriter).<br />
            
                Vår avancerade automatiska matchningsprocess underlättar och förenklar för dig som person, och för dig som företag, att hitta den perfekta matchen.
           
            </div>
        </div>
    </section>
</div>