@page
@model Merit.Web.Pages.LogInModel
@{
}


<h3>Logga in</h3>
<hr />
<form method="post">

    <div class="justify-content-between mb-2">
        <label>Användarnamn: </label>
        <input type="text" asp-for="UserLogin.UserName" placeholder="User name" required/>
    </div>
    <div class="justify-content-between mb-2">
        <label>Lösenord: </label>
        <input type="password" asp-for="UserLogin.Password" placeholder="Password" required minlength="8"/>
    </div>
    <p></p>
    <div class="justify-content-between mb-2">
        <button type="submit">Logga in</button>
    </div>
</form>

<h4>@Model.LoginMessage</h4>


