@page
@model Merit.Web.Pages.LogInModel
@using Merit.Web.Services.BankId;
@{
    const string mobileString = "Mobi";
    bool isMobile = Request.Headers["User-Agent"].Any(x => x.Contains(mobileString));
}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">MERIT</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/images/merit2.png" alt="" /></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/Index">Hem</a></li>

            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/LogIn">Logga in</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/Register">Registrera</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/Team">Team</a></li>

        </ul>
    </div>
</nav>

<h3>Logga in</h3>
<p></p>
<hr />
<div class="row">
<form method="post" class="col">
    <div class="row">
        <div class="col-lg-3">

            <div class="justify-content-between mb-2">
                <label>Användarnamn: </label>
                <input class="form-control" type="text" asp-for="UserLogin.UserName" placeholder="User name" required />
            </div>
            <div class="justify-content-between mb-2">
                <label>Lösenord: </label>
                <input class="form-control" type="password" asp-for="UserLogin.Password" placeholder="Password" required minlength="8" />
            </div>
            <p></p>


        </div>
       
    </div>
    <div class="justify-content-between mb-2">
        <button class="btn btn-primary" type="submit">Logga in</button>
    </div>
</form>
<div class="col">
    <img src="~/images/bankid-logo.svg" height="100" width="100" />
    <br />
    <br />
    @if (isMobile)
    {
        <p>@BankIdService.GetUserMessage(MessageCode.RFA20)</p>
        <div class="btn-group btn-group-vertical">
            <a class="btn btn-primary" asp-page="BankId" asp-page-handler="ThisDevice" >Mobilt BankID på den här enheten</a>
            <a class="btn btn-outline-primary" asp-page="BankId" asp-page-handler="OtherDevice">Mobilt BankID på en annan enhet</a>
        </div>

    }
    else
    {
        <p>@BankIdService.GetUserMessage(MessageCode.RFA19)</p>
            <a class="btn btn-primary" asp-page="BankId" asp-page-handler="OtherDevice">Mobilt BankID</a>
            <a class="btn btn-info" asp-page="BankId" asp-page-handler="ThisDevice">BankID på den här datorn</a>

    }
</div>
</div>

<h6>@Model.LoginMessage</h6>


