@page
@model Merit.Web.Pages.PrivacyModel
@{
}

<div>
    Vi använder cookies endast för att webbsidans funktioner och syfte ska uppfyllas. <br />

    Ingen information kommer att delas med tredje part.
</div>