@page
@model MeritWeb.Pages.TeamModel
@{
}

<h3>Våra medarbetare!</h3>
</hr>
<table style="width:80%">

    @for (int i = 1; i < 3; i++)
    {
        <tr>
            @for (int j = i == 1 ? 0 : 4; j < 4 * i; j++) //4 per rad
            {
                <td>
                    <a href="@Model.employees[j].LinkedInUrl">
                        <img src="@Model.employees[j].ImageUrl" height="200" width="200" />
                    </a>
                    <h4>@Model.employees[j].Name</h4>
                    <p>@Model.employees[j].Title</p>
                </td>
            }
        </tr>
    }
</table>
