@using QRCoder;
@using Microsoft.AspNetCore.Html;
@model string
@{
    string encodedString = SvgQRCodeHelper.GetQRCode(Model, 5, "#000000", "#FFFFFF", QRCodeGenerator.ECCLevel.L);
    HtmlString qrElement = new HtmlString(encodedString);
}
<div role="img" aria-label="QR Kod för BankID.">
    @qrElement
</div>
